<div class="container">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light"
    style="padding-left: 20px"
  >
    <a class="navbar-brand me-4">Cake Heaven</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse row" id="navbarNav">
      <ul class="navbar-nav col">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cakes">Cakes</a>
        </li>
        <li class="nav-item ms-auto">
          <a class="nav-link" routerLink="contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="profile">Profile</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
